<% if session[:ccc9527] %>
  <%= session[:ccc9527] %> | 
  <%= link_to "Logout", logout_path, method: 'delete' %>
<% else %>
  <a href="/sign_up">Sign up</a> |
  <a href="/login">Login</a>
<% end %>

<%= flash[:notice] %>

