<% if session[:ccc9527] %>

  <p>
  	<%= session[:ccc9527] %> | 
  	<%= link_to "Logout", logout_path, method: 'delete' %>
  </p>
<% else %>
  <p>
  	<a href="/sign_up">Sign up</a> |
  	<a href="/login">Login</a>
  </p>
<% end %>

<%= flash[:notice] %>

